USE [master]
GO
/****** Object:  Database [HPMS]    Script Date: 4/9/2020 10:52:48 PM ******/
CREATE DATABASE [HPMS] ON  PRIMARY 
( NAME = N'HPMS', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\HPMS.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HPMS_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\HPMS_log.LDF' , SIZE = 576KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HPMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HPMS]
GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 4/9/2020 10:52:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[Aid] [int] IDENTITY(1,1) NOT NULL,
	[Atime] [nvarchar](50) NULL,
	[Adate] [nvarchar](50) NULL,
	[Did] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Aid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 4/9/2020 10:52:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor](
	[Did] [int] IDENTITY(1,1) NOT NULL,
	[DoctorName] [nvarchar](50) NULL,
	[DoctorContact] [nvarchar](50) NULL,
	[DoctorAge] [nvarchar](max) NULL,
	[DoctorGender] [nvarchar](50) NULL,
	[Catid] [int] NULL,
 CONSTRAINT [PK_Doctor] PRIMARY KEY CLUSTERED 
(
	[Did] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DoctorCat]    Script Date: 4/9/2020 10:52:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorCat](
	[Catid] [int] IDENTITY(1,1) NOT NULL,
	[CatName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Catid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Patient]    Script Date: 4/9/2020 10:52:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[Pid] [int] IDENTITY(1,1) NOT NULL,
	[PName] [nvarchar](50) NULL,
	[PAge] [nvarchar](50) NULL,
	[PReason] [nvarchar](max) NULL,
	[Pgender] [nvarchar](50) NULL,
	[PContact] [nvarchar](50) NULL,
	[PCnic] [nvarchar](50) NULL,
	[Did] [int] NULL,
	[Uid] [int] NULL,
	[Datetimenow] [nvarchar](50) NULL,
	[ATime] [nvarchar](50) NULL,
	[ADate] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Staff]    Script Date: 4/9/2020 10:52:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[Sid] [int] IDENTITY(1,1) NOT NULL,
	[SName] [nvarchar](50) NULL,
	[SAge] [nvarchar](50) NULL,
	[SJob] [nvarchar](50) NULL,
	[Pgender] [nvarchar](50) NULL,
	[PContact] [nvarchar](50) NULL,
	[PCnic] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Sid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Userinfo]    Script Date: 4/9/2020 10:52:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Userinfo](
	[Uid] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Password] [nvarchar](max) NULL,
	[Role] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Doctor1] FOREIGN KEY([Did])
REFERENCES [dbo].[Doctor] ([Did])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_Doctor1]
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD  CONSTRAINT [FK_Doctor_DoctorCat] FOREIGN KEY([Catid])
REFERENCES [dbo].[DoctorCat] ([Catid])
GO
ALTER TABLE [dbo].[Doctor] CHECK CONSTRAINT [FK_Doctor_DoctorCat]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [FK_Patient_Doctor] FOREIGN KEY([Did])
REFERENCES [dbo].[Doctor] ([Did])
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [FK_Patient_Doctor]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [FK_Patient_Userinfo] FOREIGN KEY([Uid])
REFERENCES [dbo].[Userinfo] ([Uid])
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [FK_Patient_Userinfo]
GO
USE [master]
GO
